@import '../../styles/theme/variables.scss';

.button {
    background-color: $highlights;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: fit-content;
    padding: 0.1em 0.5em;
    margin: auto;
    border-radius: 0.2em;
    transition: background-color linear 0.1s;
    cursor: pointer;
    img {
        margin: 0.2em;
    }
    &:hover {
        background-color: $highlights-hover;
    }
}