.hex-quiz-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    flex-direction: column;
}

.hex-quiz-description {
    margin: 2em auto;
    text-align: center;
}