<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="author" content="Ruairidh Williamson">
  <meta name="description" content="{% block description %}{% endblock description %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="color-scheme" content="light dark">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <!-- Font -->
  <link rel="preload" as="font" href="/thirdparty/rubik-variablefont.ttf" type="font/ttf" crossorigin />

  <!-- Normalize css -->
  <link rel="stylesheet" href="/thirdparty/normalize.min.css" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <!-- Dark/light theme -->
  <script src="/theme.js"></script>

  {% if hot_reload %}
  <!-- Hot Reload -->
  <script src="/hr.js"></script>
  {% endif %}

  {% block head %}{% endblock head %}
</head>

<body class="theme-light">
  <div class="navbar">
    <btn class="btn theme-toggle" tabindex=0>
      {% include "icons/moon.svg" %}
    </btn>
    <div class="navbar-btns">
      <a id="home" class="navbar-btn" href="/">home</a>
      <a id="contact" class="navbar-btn" href="/contact/">contact</a>
    </div>
    <btn class="btn theme-toggle" id="theme-toggle" tabindex=0 onclick="toggleTheme()">
      {% include "icons/moon.svg" %}
    </btn>
  </div>
  <script defer src="/navbar.js"></script>
  {% block content %}{% endblock content %}

  <!-- Highlight.js -->
  <link rel="stylesheet" href="/thirdparty/highlight.min.css" />
  <link rel="stylesheet" href="/thirdparty/highlight-tokyo-night-dark.min.css" />
  <script defer src="/thirdparty/highlight.min.js"></script>
  <script defer src="/hl_all.js"></script>
</body>

</html>