<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="author" content="Ruairidh Williamson">
  <meta name="description" content="{% block description %}{% endblock description %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="color-scheme" content="light dark">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <!-- Normalize css -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <!-- Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
    rel="stylesheet"
    integrity="sha512-K/McWskr6/BH9P0uSAAj4dDCExucCw/YxKOMAFtUbicvjngf3racfXRfz6XpX9rbjdFrZ7rQeXCzC8ySkINo4w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="preload"
    as="font"
    href="https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0U1.woff2"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <!-- Dark/light theme -->
  <script src="/theme.js"></script>

  {% if hot_reload %}
  <!-- Hot Reload -->
  <script src="/hr.js"></script>
  {% endif %}

  {% block head %}{% endblock head %}
</head>

<body class="theme-light">
  <div class="navbar">
    <btn class="btn theme-toggle" tabindex=0>
      {% include "icons/moon.svg" %}
    </btn>
    <div class="navbar-btns">
      <a id="home" class="navbar-btn" href="/">home</a>
      <a id="posts" class="navbar-btn" href="/posts/">posts</a>
      <a id="contact" class="navbar-btn" href="/contact/">contact</a>
    </div>
    <btn class="btn theme-toggle" id="theme-toggle" tabindex=0 onclick="toggleTheme()">
      {% include "icons/moon.svg" %}
    </btn>
  </div>
  <script defer src="/navbar.js"></script>
  {% block content %}{% endblock content %}

  <!-- Highlight.js -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
    integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css"
    integrity="sha512-dSQLLtgaq2iGigmy9xowRshaMzUHeiIUTvJW/SkUpb1J+ImXOPNGAI7ZC8V5/PiN/XN83B8uIk4qET7AMhdC5Q=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script defer src="/hl_all.js"></script>
</body>

</html>
