<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="description" content="{% block description %}{% endblock description %}">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

  <!-- Stylesheet -->
  <link href="/style.css" rel="stylesheet" />

  {% if hot_reload %}
  <!-- Hot Reload -->
  <script src="/hr.js"></script>
  {% endif %}

  {% block head %}{% endblock head %}
</head>

<body class="theme-light">
  <div class="navbar">
    <btn class="btn fa-solid fa-moon theme-toggle" tabindex=0></btn>
    <div class="navbar-btns">
      <a id="home" class="navbar-btn" href="/">home</a>
      <a id="posts" class="navbar-btn" href="/posts/">posts</a>
      <a id="contact" class="navbar-btn" href="/contact/">contact</a>
    </div>
    <btn class="btn fa-solid fa-moon theme-toggle" id="theme-toggle" tabindex=0></btn>
  </div>
  <div class="contents">
    {% block content %}{% endblock content %}
  </div>
  <script src="/theme.js"></script>
  <script src="/navbar.js"></script>

  <!-- Normalize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

  <!-- Font Awseome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Highlight.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css"
    integrity="sha512-dSQLLtgaq2iGigmy9xowRshaMzUHeiIUTvJW/SkUpb1J+ImXOPNGAI7ZC8V5/PiN/XN83B8uIk4qET7AMhdC5Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</body>

</html>