{% extends "base.html" %}
{% block title %}{{ details.name }}{% endblock title %}
{% block description %}Portfolio website for Ruairidh Williamson. View different projects Ruairidh has worked on and is interested in.{% endblock description %}

{% block content %}
  <div class="home-banner">
    <h1>{{ details.name | upper }}</h1>
    <p>{{ details.summary }}</p>
    <a class="btn icon fa-brands fa-github" aria-label="Github" target="_blank" href="https://github.com/RuairidhWilliamson"></a>
    <a class="btn icon fa-brands fa-gitlab" aria-label="Gitlab" target="_blank" href="https://gitlab.com/ruairidhwi"></a>
    <a class="btn icon fa-brands fa-linkedin" aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/ruairidh-williamson"></a>
  </div>
  <div>
    <div class="featured-banner">
      <h2>Featured Posts</h2>
      <a href="/posts">View All</a>
    </div>
    <div class="post-grid">
    {% for post in featured -%}
      <a class="small-post" href="/posts/{{ post.slug }}">
        <img src="{{ post.image }}" alt="{{ post.title }}" class="thumb" />
        <div>
          <h3>{{ post.title }}</h3>
          <h5>{{ post.date }}</h5>
          <h6>{{ post.tags | join(sep=", ") }}</h6>
        </div>
      </a>
    {%- endfor %}
    </div>
  </div>
{% endblock content %}
