$text-colour: #fff;

$back: #37474F;
$card-back: #424242;
$highlights: #FF5722;
$highlights-hover: rgb(255, 151, 119);

// Sidebar
$sidebar-back: #263238;
$sidebar-active: $back;
$sidebar-hover: #455A64;

// Inputs
$input-back: #263238;
$input-text-color: $text-colour;